- provide(:title, "About")
%h1
  = t('about.welcome')
%p
  = t('about.thankYou')
  %a{:href => "https://www.railstutorial.org/help"}
    Rails Tutorial help
    page
  = t('about.technology')
  = succeed "." do
    %em Ruby on Rails
%hr/
%h4
  = t('about.description')
%p
  \- 
  = t('about.login') 
%p
  \- 
  = t('about.publications')
%p
  \- 
  = t('about.follow')
%hr/
%h5
  = t('about.thankI')
