<%if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats" >
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Fil d'actualité</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Bienvenue sur le site de Sébastien F.<h1>
    <h2>
      Ce site a été fait pour apprendre le langage Rails, il s'agit d'un clone de <a href="https://twitter.com" target="_blank">Twitter inc.</a>
    </h2>
    <%= link_to "S'inscrire maintenant !", signup_path, class: "btn btn-lg btn-primary" %>
  </div>

  <%= link_to image_tag("rails.svg", alt: "Rails logo", width: "200"), "https://rubyonrails.org/" %>
<% end %>
<%= react_component('HelloMessage', name: 'John', prerender: true) %>