- provide(:title, @user.name)
.row
  %aside.col-md-4
    %section.user_info
      %h1
        - if @user.profile.attached?
          = image_tag @user.display_profile
        - else
          = gravatar_for @user
        = @user.name
    %section.stats
      = render 'shared/stats'
  .col-md-8
    = render 'follow_form' if logged_in?
    - if @user.microposts.any?
      %h3
        #{t('post.posts')} (#{@user.microposts.count})
      %ol.microposts
        = render @microposts
      = will_paginate @microposts
