%footer.footer
  %small
    = t('header.clone')
    %a{:href => "https://github.com/SebastienGt", :target => "_blank"} Sébastien F.
  %nav
    %ul
      %li= link_to "#{t('header.about')}", help_path
      %li= link_to "#{t('header.contactMe')}", contact_path
      %li
        %a{:href => "https://github.com/SebastienGt", :target => "_blank"} Github
      %li
        %a{:href => "https://www.linkedin.com/in/sebastien-friedberg/", :target => "_blank"} LinkedIn
